<div class="container">
    <h1 class="my-4">Editar Doador</h1>

    <form action="/doadores/<%= doador.id %>/atualizar" method="POST">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" id="nome" name="nome" class="form-control" value="<%= doador.nome %>" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" class="form-control" value="<%= doador.email %>" required>
        </div>

        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="tel" id="telefone" name="telefone" class="form-control" value="<%= doador.telefone %>" required>
        </div>

        <div class="mb-3">
            <label for="endereco" class="form-label">Endereço:</label>
            <input type="text" id="endereco" name="endereco" class="form-control" value="<%= doador.endereco %>" required>
        </div>

        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
</div>