<div class="container">
    <h1 class="my-4">Saídas de Eventos</h1>

    <a href="/saidas-eventos/cadastrar" class="btn btn-primary mb-3">Cadastrar Nova Saída de Evento</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Data de Saída</th>
                <th>Hora de Saída</th>
                <th>Responsáveis</th>
                <th>Produtos</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% saidasEventos.forEach(function(saidaEvento) { %>
                <tr>
                    <td>
                        <%= saidaEvento.evento %>
                    </td>
                    <td>
                        <%= new Date(saidaEvento.data_saida).toLocaleDateString('pt-BR', { day: '2-digit' , month: '2-digit' , year: 'numeric' }) %>
                    </td>
                    <td>
                        <%= saidaEvento.hora_saida %>
                    </td>
                    <td>
                        <% const responsaveis=responsaveisSaida.filter(r=> r.saida_evento_id === saidaEvento.id);
                            responsaveis.forEach(function(responsavel, index) {
                            const usuario = usuarios.find(u => u.id === responsavel.usuario_id);
                            %>
                            <%= usuario.nome %>
                                <%= index < responsaveis.length - 1 ? ', ' : '' %>
                                    <% }); %>
                    </td>
                    <td>
                        <% const produtos=produtosSaida.filter(p=> p.saida_evento_id === saidaEvento.id);
                            produtos.forEach(function(produto, index) {
                            const produtoInfo = produtosList.find(pr => pr.id === produto.produto_id);
                            %>
                            <%= produtoInfo.nome %> (<%= produto.quantidade %>
                                    <%= produtoInfo.unidade_medida %>)<%= index < produtos.length - 1 ? ', ' : '' %>
                                            <% }); %>
                    </td>
                    <td>
                        <a href="/saidas-eventos/<%= saidaEvento.id %>/editar" class="btn btn-sm btn-primary">Editar</a>
                        <form action="/saidas-eventos/<%= saidaEvento.id %>/excluir" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>